<div class="container border w-[50rem] p-2 flex flex-row text-wrap">
    <tui-avatar class="mr-2 mt-1" style="background-color: aliceblue;" src="@tui.user" />
    <div class="w-full">
        <div class="float">
            <h1 class="mb-2 text-lg left-0">{{cardComment.userName}}</h1>
            @if(this.accountService.currentUserSignal()?.id == cardComment.userId){
            <button class="mb-2 float-right -mt-8" (click)="deleteComment()"><tui-icon
                    icon="@tui.trash-2"></tui-icon></button>
            }
        </div>
        <h2>{{cardComment.comment}}</h2>
        <p class="justify-self-end">Date: {{cardComment.date.toISOString().split('T')[0]}}</p>
    </div>
</div>